<!--The content below is only a placeholder and can be replaced.-->
<div>
  <div style="text-align:center">
    <h1>Welcome to {{ title }}!</h1>

    <am-am-ui></am-am-ui>
  </div>

      
  <app-alerts></app-alerts>
  <app-confirm-dialogue></app-confirm-dialogue>    


  <div style="width: 50%">
    <h3>Reusable Angular Tabbed Pane Demo</h3>

    <am-tabbedpanes (tabChanged)="onTabChange($event)">
      <am-tabbedpane [title]="'Tab #1'"
        >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum."
      </am-tabbedpane>
      <am-tabbedpane title="Tab #2">
        "Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
        illo inventore veritatis et quasi architecto beatae vitae dicta sunt
        explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
        odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
        voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum
        quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam
        eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
        voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam
        corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
        Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse
        quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo
        voluptas nulla pariatur?"
      </am-tabbedpane>
      <am-tabbedpane [title]="'Tab #3'">Tab 3 Content</am-tabbedpane>
      <am-tabbedpane title="Tab #4">
        <h2>This is my Tab 4 Content</h2>
      </am-tabbedpane>
    </am-tabbedpanes>


    
    <h3>Reusable Angular Accordion Component Demo</h3>
    <p>
      <am-accordion class="" [title]="'Accordion #1'" [expanded]="true">
        <!-- Accordion Content -->
        <div>
          <h2>Iam expanded!</h2>
          <i>Double click header or click on - icon to close.</i>
        </div>
      </am-accordion>
      <am-accordion class="" [title]="'Accordion #2'" [expanded]="false">
        <!-- Accordion Content -->
        <div>
          <h2>Iam expanded again!</h2>
        </div>
      </am-accordion>
      <am-accordion class="" [title]="'Accordion #3'" [expanded]="false">
        <!-- Accordion Content -->
        <div>
          Yet again!
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum."
          </p>
        </div>
      </am-accordion>
    
    </p>

    
  </div>
</div>