
<a [routerLink]="['/showcase/img-gallery']"> Image Gallery </a>
<a [routerLink]="['/showcase/alerts']"> Alerts </a>
<a [routerLink]="['/showcase/confirm-dialog']"> Confirm Dialog </a>
<a [routerLink]="['/showcase/accordion']"> Accordion </a>
<a [routerLink]="['/showcase/tabbed-pane']"> Tabbed Pane </a>
<a [routerLink]="['/showcase/calendar']"> Calender </a>
<a [routerLink]="['/showcase/svg-donut']"> SVG Donut </a>


<br>
<a [routerLink]="['/showcase']"> Showcase - Mix </a>

<!-- <br>
<a [routerLink]="['/dummy']">
  Dummy
</a> -->
