
<a [routerLink]="['/showcase/img-gallery']"> Image Gallery </a>
<a [routerLink]="['/showcase/alerts']"> Alerts </a>
<a [routerLink]="['/showcase/confirm-dialog']"> Confirm Dialog </a>
<a [routerLink]="['/showcase/accordion']"> Accordion </a>
<a [routerLink]="['/showcase/tabbed-pane']"> Tabbed Pane </a>
<a [routerLink]="['/showcase/calendar']"> Calender </a>
<a [routerLink]="['/showcase/svg-graphs']"> SVG Graphs</a>

<a [routerLink]="['/showcase/dropdown']"> Dropdown </a>
<a [routerLink]="['/showcase/typeahead']"> **TypeAhead </a>
<a [routerLink]="['/showcase/modal']"> **Modal Window </a>
<a [routerLink]="['/showcase/side-panel']"> **Side Panel </a>

<br>
<a [routerLink]="['/showcase']"> Showcase - Mix </a>
<br>
<i style="color:grey; font-size: 12px;">** -- palceholders - under development</i>

<!-- <br>
<a [routerLink]="['/dummy']">
  Dummy
</a> -->