<h2>AmUi - Angular Component Library</h2>

<p>
  This library was created for the purpose of having my angular learnings over past years collected in one place.
  The library will also serve as a refernece for creating components in my future application developments using angular.. 
  In an effort to create a library of UI components I look forward to learn best practices and other advanced topics in Angular.
</p>
<p>
  The project is created in Angular from scratch without using any additional libraries. Not even bootstrap dependency.
  All the components are implemented using pure css and Angular.
</p>
<p>
Let me start small with few components and improve upon. I would be adding documentation in between.
 This readme serves as a placeholder until the project forms some shape.
 
</p>
