

<div>

<h3>Reusable Angular Alerts Component Demo</h3>


<button (click)="newAlert()">AlertTest</button>

<button (click)="clearAll()">ClearAll</button>


<button (click)="alertService.success(message)">Success</button>
<button (click)="alertService.info(message)">Info</button>
<button (click)="alertService.error(message)">Error</button>


<span>
Enter custom alert message to display:
 <input [(ngModel)]="message" />
</span>

</div>

 
<!-- Use below line in root of app or homepage which will be always active -->
<am-alerts></am-alerts>